<div class="matches-section">

  <div class="matches-header d-flex justify-content-between align-items-center">
    <p class="m-0">Matches</p>

    <div class="d-flex gap-2">
     <div class="card flex justify-center p-2">
            <p-datepicker [(ngModel)]="rangeDates" selectionMode="range"  [showIcon]="true" [readonlyInput]="true" placeholder="From Date - To Date"></p-datepicker> 
        </div>
<div class="custom-dropdown">

  <div class="selected" (click)="toggleDropdown()">
    <i class="fa-solid fa-bars"></i>
    {{ selectedCategory || 'All Categories' }}
    <i class="fa-solid fa-chevron-down arrow"></i>
  </div>

  @if (isOpen) {
  <div class="dropdown-menu">
    @for (cat of categories; track cat) {
      <div class="dropdown-item" (click)="selectCategory(cat, $event)">
        {{ cat }}
      </div>
    }
  </div>
}

</div>
    </div>
  </div>

  <div class="row mt-3">

    @for (item of matches; track item) {

    <div class="col-lg-3 col-md-6 mb-4">

      <div class="match-card card">

        <div class="img-box">
          <img [src]="item.image">

          <div class="badge">Featured</div>

          <div class="views">
            <i class="fa-solid fa-eye"></i> Views: 0
          </div>

          <div class="price">Rs. {{ item.price }}</div>

          <div class="icons">
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-heart"></i>
          </div>
        </div>

        <div class="card-body">

          <p class="type m-0">Apartment</p>

          <div class="d-flex justify-content-between align-items-center">
            <h5 class="name">{{ item.name }}</h5>
            <div class="plus-btn"><i class="fa-solid fa-plus"></i></div>
          </div>

          <p class="location">
            <i class="fa-solid fa-location-dot"></i>
            {{ item.location }}
          </p>

          <div class="features d-flex justify-content-between">

            <div><i class="fa-solid fa-bed"></i> 5 Beds</div>
           <div><i class="fa-solid fa-up-right-and-down-left-from-center"></i>2468 Sq</div>
            <div><i class="fa-solid fa-bath"></i> 3 Bathrooms</div>
            <div><i class="fa-solid fa-building"></i> Balcony</div>

          </div>

          <hr>

          <p class="extra">
            Floor 0/10 Parking Common / Open / Covered
          </p>

          <div class="d-flex justify-content-between align-items-center mt-2">

            <div class="profile d-flex align-items-center gap-2">
              <img src="/DetailsUser/property-profile.png" class="user-img">
              <span>By Bill Trust</span>
            </div>

            <div class="time">4 years ago</div>

          </div>

        </div>

      </div>

    </div>

    }

  </div>
            @if (totalPages > 1) {
            <div class="d-flex justify-content-center mt-4 gap-2">
              <button
                class="btn btn-page border"
                [disabled]="currentPage === 1"
                (click)="changePage(currentPage - 1)"
              >
                <i class="fa-solid fa-angle-left"></i>
              </button>

              @for (page of pages; track page) {
                <button
                  class="btn btn-page border"
                  [class.active-page]="currentPage === page"
                  (click)="changePage(page)"
                >
                  {{ page }}
                </button>
              }

              <button
                class="btn btn-page border"
                [disabled]="currentPage === totalPages"
                (click)="changePage(currentPage + 1)"
              >
                <i class="fa-solid fa-angle-right"></i>
              </button>
            </div>
          }

</div>
  <div class="row">
            <div class="col-12 col-lg-4 pt-3">
              <div class="all-listing-box">

                <div class="listing-box-header" (click)="toggleStatistics()">
                  <p class="listing-title">Statistics</p>
                  <i class="fa-solid fa-chevron-down" [class.rotate]="isStatisticsOpen"></i>
                </div>

                @if (isStatisticsOpen) {
                <div class="statistics-body p-2">

                  @for(stat of statistics; track stat){
                  <div class="stat-item mb-2">
                    <div class="statistics-box d-flex justify-content-between">
                      <p class="m-0">{{ stat.title }}</p>
                      <p class="m-0">{{ stat.value }}</p>
                    </div>
                  </div>
                  }

                </div>
                }

              </div>
            </div>

            <div class="col-12 col-lg-4 pt-3">
              <div class="all-listing-box">

                <div class="listing-box-header" (click)="toggleMedia()">
                  <p class="listing-title">Media</p>
                  <i class="fa-solid fa-chevron-down" [class.rotate]="isMediaOpen"></i>
                </div>

                @if (isMediaOpen) {
                <div class="media-body">
                  @for (item of marketingItems; track item; let last = $last) {
                  <p class="px-4 mt-3">{{ item }}</p>
                  @if (!last) {
                  <hr> }
                  }
                </div>
                }

              </div>
            </div>

            <div class="col-12 col-lg-4 pt-3">
              <div class="all-listing-box">

                <div class="listing-box-header" (click)="toggleMedia()">
                  <p class="listing-title">Media</p>
                  <i class="fa-solid fa-chevron-down" [class.rotate]="isMediaOpen"></i>
                </div>

                @if (isMediaOpen) {
                <div class="media-body">
                  @for (item of marketingItems; track item; let last = $last) {
                  <p class="px-4 mt-3">{{ item }}</p>
                  @if (!last) {
                  <hr> }
                  }
                </div>
                }

              </div>
            </div>

          </div>
