<div class="replies-section">
  <div class="replies-header">
    Replies
  </div>
  @for (item of replies; track item) {

  <div class="reply-card">
    <div class="reply-left">
        <div class="d-flex flex-row gap-3">
            <img [src]="item.image" class="profile-img">

  <div class="content">
    <h3>{{ item.name }}</h3>

    <div class="date">
      <i class="fa-solid fa-calendar"></i>
      {{ item.date }}
    </div>
        </div>
  
</div>
    <p class="desc">
      {{ item.description }}
    </p>

    <button class="view-btn">
      View More Replies
    </button>


</div>

    <div class="reply-right">

      <button class="download-btn green">
        Download Company Broucher
        <i class="fa-solid fa-download"></i>
      </button>

      <button class="download-btn orange">
        Download Project Broucher
        <i class="fa-solid fa-download"></i>
      </button>

      <div class="stats">

        <div class="stat-box">
          <i class="fa-solid fa-eye"></i>
          <span>100</span>
        </div>

        <div class="stat-box">
          <i class="fa-solid fa-heart"></i>
          <span>100</span>
        </div>

        <div class="icon-box">
          <i class="fa-solid fa-envelope"></i>
        </div>

        <div class="icon-box">
          <i class="fa-solid fa-flag"></i>
        </div>

      </div>

    </div>

  </div>

  }

</div>
  <div class="row">
            <div class="col-12 col-lg-4 pt-3">
              <div class="all-listing-box">

                <div class="listing-box-header" (click)="toggleStatistics()">
                  <p class="listing-title">Statistics</p>
                  <i class="fa-solid fa-chevron-down" [class.rotate]="isStatisticsOpen"></i>
                </div>

                @if (isStatisticsOpen) {
                <div class="statistics-body p-2">

                  @for(stat of statistics; track stat){
                  <div class="stat-item mb-2">
                    <div class="statistics-box d-flex justify-content-between">
                      <p class="m-0">{{ stat.title }}</p>
                      <p class="m-0">{{ stat.value }}</p>
                    </div>
                  </div>
                  }

                </div>
                }

              </div>
            </div>

            <div class="col-12 col-lg-4 pt-3">
              <div class="all-listing-box">

                <div class="listing-box-header" (click)="toggleMedia()">
                  <p class="listing-title">Media</p>
                  <i class="fa-solid fa-chevron-down" [class.rotate]="isMediaOpen"></i>
                </div>

                @if (isMediaOpen) {
                <div class="media-body">
                  @for (item of marketingItems; track item; let last = $last) {
                  <p class="px-4 mt-3">{{ item }}</p>
                  @if (!last) {
                  <hr> }
                  }
                </div>
                }

              </div>
            </div>

            <div class="col-12 col-lg-4 pt-3">
              <div class="all-listing-box">

                <div class="listing-box-header" (click)="toggleMedia()">
                  <p class="listing-title">Media</p>
                  <i class="fa-solid fa-chevron-down" [class.rotate]="isMediaOpen"></i>
                </div>

                @if (isMediaOpen) {
                <div class="media-body">
                  @for (item of marketingItems; track item; let last = $last) {
                  <p class="px-4 mt-3">{{ item }}</p>
                  @if (!last) {
                  <hr> }
                  }
                </div>
                }

              </div>
            </div>

          </div>
