
//listing Section
    .date i {
        color:#008080;
    }
   
    .badge {
  background: #1DB697;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
}
.custom-dropdown {
  position: relative;
  width: 180px;
  cursor: pointer;
}

.selected {
  background: #ffffff;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  background: white;
  border-radius: 6px;
  margin-top: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.dropdown-item {
  padding: 8px;
}

.dropdown-item:hover {
  background: #008080;
  color: white;
}
.listing-section{
  height:600px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #008080 #ffffff;
}
.listing-card {
  display: flex;    
  padding: 12px;
  margin-bottom: 12px;
  background: #f8f9f9;
  border-radius: 10px;
  align-items: flex-start;

}
.listing-section-header{
    background:  #008080 !important;
    color: #fff;
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}

.listing-left {
  width: 140px;
}
.user-name{
    font-size: 17px;
    font-weight: 600;
}
.v-line{
  border-left: 2px solid #d9d9d9;
  height:200px;
  display: block;
}
.listing-left img {
  width: 100%;
  border-radius: 10px;
}

.listing-middle p{
 font-size: 15px;
}
.title{
    color: #008080;
    font-weight: 700;
}
.listing-description {
  width: 300px;
   font-size: 13px;
  color:#666565;
  font-weight: 400;
}
.listing-right {
  width: 150px;
}

.stats-box {
  background: linear-gradient(135deg, #1DB697, #FF9800);
  padding: 8px;
  border-radius: 10px;
  color: white;
}
.listing-end{
    width: 210px;
    text-align: center 
}
.timer-box {
  background: #008080;
  color: white;
  padding: 6px;
  border-radius: 5px;
  margin: 6px 0;
  text-align: center;
}

.view-btn {
  background: #FF9800;
  color: white;
  border: none;
  padding: 6px;
  width: 100%;
  border-radius: 5px;
}
.info-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;  
  gap: 15px;
    border:1px solid #e4e2e2;
}

.info-value {
  font-size: 30px;
  font-weight: 700;
}

.info-icon img {
  width: 90px;
}
.info-card p {
  margin: 0;
  font-size: 14px;
  display: flex;
  justify-content: end;
  font-weight: 600;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup {
  background: white;
  width: 350px;
  padding: 15px;
  border-radius: 10px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.popup input,
.popup textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.submit-btn {
  background: #FF9800;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}
.btn{
background: #FF9800;
  color: white;
  padding: 10px;
  font-size: 12px;
}
.all-listing-box{
          background: #ffffff;
    border-radius: 6px !important;
    }
    .listing-box-header{
        background:  #008080 !important;
    color: #fff;
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    }
    .listing-title{
         margin: 0;
    font-weight: 600;
    font-size: 18px;
    }

.all-listing-box {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.listing-box-header {
  background: #4f7c7c;
  color: white;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.media-body{
    border:1px solid #e4e2e2;
}
.rotate {
  transform: rotate(180deg);
}
.statistics-body{
    padding: 5px;
     border:1px solid #e4e2e2;
}
.stat-item{
 width: 100%;
    height:fit-content;
    color:#fff;
    border-radius: 10px;
    padding: 10px 15px;
    background: linear-gradient(
    135deg,
    #1DB697 0%,
    #5fbf8a 40%,
    #ff9800 100%
  );
}
.statistics-box p{
     font-size: 18px;
   font-weight: 700;
}


.listing-section-wrapper {
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
  margin-top: 15px;
  overflow: hidden;
  border: 1px solid #e4e2e2;
}

.listing-section-header {
  background: #4f7c7c;
  color: white;
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-input {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.report-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.236);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.report-modal {
  width: 500px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.report-header {
  background: #008080;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report-body {
  padding: 20px;
}

.user-box {
  background: #eef3f3;
  padding: 15px;
  border-radius: 10px;
}

.overlay-user-name {
  background: #008080;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  display:flex;
  margin-bottom: 10px;
  width: 170px;
  
}
.user-box i{
  color:#ff9800
}
.overlay-loc p{
  color:#878C9F;
}
textarea {
  width: 100%;
  height: 120px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.attach-title{
  text-align: start;
}
.upload-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upload-box i {
  font-size: 30px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancel {
  border: 1px solid #ff9800;
  background: white;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.submit {
  background: #ff9800;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
}

.label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  text-align: start;
}

.input-box {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  color:#566985;
}

.textarea-box {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.upload-btn {
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 250px;
}

.upload-btn.green {
  background: #008080;
}

.upload-btn.orange {
  background: #ff9800;
}

.submit-btn {
  margin-top: 20px;
  background: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  width: 250px;
  display: flex;
  gap:10px;
  align-items: center;
}

.input-box {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 12px;
}


.textarea-box {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 12px;
}


.input-with-icon {
  position: relative;
}

.input-with-icon i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.mode-toggle {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.mode {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #eee;
}

.mode.active {
  background: #ff9800;
  color: white;
}

.meeting-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.note {
  font-size: 12px;
  color: gray;
}