
.hero {
  position: relative;
  height: 700px;
  overflow: hidden;
}
.hero-img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.hero-img.active {
  opacity: 1;
}
.hero-content {
  position: absolute;
  z-index: 2;
  color: white;
  padding: 50px;
  bottom:50px;
}
.hero-content h1{
    font-size: 45px;
    width: 300px;
    font-weight: 700;
}
.hero-content p{
    font-size: 20px;
    font-weight: 400;
    width: 400px;
}
.calender-btn{
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    background-color: #ff9800;
    color:white;
    border-radius: 20px;
    position: absolute;
    right:20px;
    bottom:40px;
    font-size: 20px;
}